/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

/*
=============== 
Imports 
===============
*/

@import url("variables.css");

/*
=============== 
Header
===============
*/

header {
  min-height: 100dvh;
  background: linear-gradient(
      180deg,
      rgba(28, 102, 17, 0.4),
      rgba(0, 0, 0, 0.2)
    ),
    url("../assets/images/home-hero-bg.jpg") no-repeat center/cover fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-video {
  display: none;
}

/*
=============== 
Navbar
===============
*/

.navbar {
  position: fixed;
  top: 1.5rem;
  padding: 1rem 2rem;
  background: var(--clr-white);
  opacity: 0.9;
  box-shadow: var(--dark-shadow);
  z-index: 999;
  border-radius: 0.5rem;
  max-width: 1190px;
  width: 92dvw;
}

.nav-icons {
  display: none;
}

.nav-logo {
  width: 15rem;
}

.nav-center {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-toggle {
  background: transparent;
  border: transparent;
  font-size: 2rem;
  color: var(--second-clr-dark);
  cursor: pointer;
  transition: var(--transition);
}

.nav-toggle:hover {
  transform: scale(1.2);
}

.nav-link {
  color: var(--second-clr-dark);
  text-transform: capitalize;
  padding: 1rem 2rem;
  display: block;
  transition: var(--transition);
  font: 600 1.9rem/1.5 var(--first-ff);
}

.nav-link:hover {
  color: var(--second-clr-dark);
  background: var(--first-clr-dark);
  padding-left: 2.5rem;
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 390px;
}

@media screen and (min-width: 992px) {
  header {
    background: linear-gradient(
      180deg,
      rgba(28, 102, 17, 0.4),
      rgba(0, 0, 0, 0.2)
    );
  }

  #background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
  }

  .navbar {
    max-width: 1200px;
  }

  .nav-toggle {
    display: none;
  }

  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav-links {
    height: auto;
    display: flex;
  }

  .nav-header {
    padding: 1.5rem 1rem;
  }

  .nav-link {
    padding: 0 1rem;
    color: var(--second-clr-dark);
  }

  .nav-link:hover {
    padding: 0 1rem;
    color: var(--first-clr-dark);
    background: transparent;
  }

  .nav-icons {
    /* display: flex; */
    gap: 1rem;
  }

  .nav-icon {
    color: var(--first-clr-dark);
    font-size: 2rem;
    transition: var(--transition);
  }

  .nav-icon:hover {
    color: var(--second-clr-light);
  }
}

/*
=============== 
Hero
===============
*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner {
  text-align: center;
  color: var(--clr-white);
  padding: 0 3rem;
}

.hero-banner h1 {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  font-size: 6rem;
  text-shadow: var(--text-shadow);
  color: var(--clr-white);
}

.hero-banner p {
  max-width: 60ch;
  margin: 2rem auto;
  color: var(--clr-white);
  font-size: 1.9rem;
  letter-spacing: var(--spacing);
}

.hero-btn {
  padding: 1.5rem 2rem;
  font: 600 1.8rem/1 var(--first-ff);
  background: var(--second-clr-light);
  color: var(--clr-white);
  border: 2px solid var(--second-clr-light);
}

.hero-btn:hover {
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
}

@media screen and (min-width: 768px) {
  .hero-banner {
    padding: 0;
  }

  .hero-banner p {
    max-width: 45rem;
  }
}

/*
=============== 
About
===============
*/

#about {
  background: var(--clr-white);
  padding: 0;
}

.about {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  width: 100dvw;
  justify-content: flex-start;
  padding: 0 0 15rem 0;
}

.about-img {
  min-height: 50dvh;
  background: url("../assets/images/about-img-gallery-bg-01.jpg") no-repeat
    top/cover;
  width: 100%;
}

.about-info {
  max-width: 1180px;
  width: 90vw;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  #about {
    min-height: 102dvh;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 50%,
        rgba(255, 255, 255, 1) 50%
      ),
      url("../assets/images/about-img-gallery-bg-01.jpg") no-repeat top/cover;
    animation: slideshow 12s ease-in-out infinite;
    padding: initial;
  }

  @keyframes slideshow {
    0% {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 50%,
          rgba(255, 255, 255, 1) 50%
        ),
        url("../assets/images/about-img-gallery-bg-02.jpg") no-repeat top/cover;
    }

    50% {
      background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 50%,
          rgba(255, 255, 255, 1) 50%
        ),
        url("../assets/images/about-img-gallery-bg-03.jpg") no-repeat top/cover;
    }
  }

  .about {
    flex-direction: row;
    justify-content: space-between;
    gap: 8rem;
  }

  .about-img,
  .about-info {
    width: 50dvw;
  }

  .about-img {
    opacity: 0;
  }

  .about-info {
    padding: 15rem 0;
  }
}

.icon-title {
  width: 5rem;
}
/*
=============== 
Archetypes
===============
*/
#archetypes {
  background: var(--clr-white);
}

.archetypes-box {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.5rem;
}

.archetype {
  border: 2px solid transparent;
  border-radius: 0.5rem;
  box-shadow: var(--light-shadow);
  padding: 5rem 3rem;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
}

.archetype:hover {
  border: 2px solid var(--second-clr-dark);
  box-shadow: var(--dark-shadow);
}

.archetype img {
  width: 15rem;
  margin-bottom: 2rem;
  transition: var(--transition);
}

.archetype:hover .archetype-img {
  transform: scale(1.1);
}

.archetype h3 {
  font-size: 2.3rem;
}

.archetype .arch-btn {
  padding: 1rem;
  line-height: 1;
  font-size: 1.5rem;
  align-self: start;
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .archetypes-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .archetypes-box {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

/*
=============== 
Threats
===============
*/

#threats {
  background: var(--black-clr);
  padding: 10rem 0;
  --gold-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1)
  );
}

#threats .section-title {
  margin: 0 auto;
  padding: 0;
}

#threats .title,
#threats .intro {
  color: var(--clr-white);
}

.threats {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 40dvh);
  gap: 2rem;
  margin-top: 5rem;
  padding: 0 2rem;
  grid-template-areas:
    "threat-01"
    "threat-02"
    "threat-03"
    "threat-04"
    "threat-05"
    "threat-06"
    "threat-07"
    "threat-08"
    "threat-09";
}

@media screen and (min-width: 600px) {
  .threats {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 40dvh);
  }
}

@media screen and (min-width: 650px) {
  .threats {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 35dvh);
    grid-template-areas:
      "threat-01 threat-02"
      "threat-03 threat-04"
      "threat-05 threat-06"
      "threat-07 threat-08"
      "threat-09 threat-09";
  }
}
@media screen and (min-width: 900px) {
  .threats {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 35dvh);
    grid-template-areas:
      "threat-01 threat-02 threat-03"
      "threat-04 threat-05 threat-06"
      "threat-07 threat-08 threat-09";
  }
}

@media screen and (min-width: 1100px) {
  .threats {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 150px);
    gap: 0.5rem;
    grid-template-areas:
      "threat-01 threat-01 threat-02 threat-03 threat-04 threat-04"
      "threat-01 threat-01 threat-02 threat-03 threat-04 threat-04"
      "threat-05 threat-05 threat-06 threat-06 threat-04 threat-04"
      "threat-05 threat-05 threat-06 threat-06 threat-07 threat-07"
      "threat-08 threat-08 threat-09 threat-09 threat-07 threat-07"
      "threat-08 threat-08 threat-09 threat-09 threat-07 threat-07";
  }
}

.threat {
  border-radius: 0.5rem;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1.5rem;
}

.threat-info {
  display: none;
  transition: var(--transition);
}

.threat:hover {
  box-shadow: var(--dark-shadow);
}

.threat:hover .threat-info {
  display: initial;
}

.threat-info h4 {
  font-size: 2rem;
  line-height: 1.2;
  text-shadow: var(--text-shadow);
  color: var(--clr-white);
}

.threat-btn {
  padding: 1rem;
  line-height: 1;
  font-size: 1.5rem;
}

.threat-btn:hover {
  background: var(--clr-white);
}

.threat-01 {
  background: url("../assets/images/threats/echowood-dark-forest.jpg") no-repeat
    top/cover;
  transition: var(--bg-transition);
  grid-area: threat-01;
}
.threat-01:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../assets/images/threats/echowood-dark-forest.jpg") no-repeat top/cover;
}

.threat-02 {
  background: url("../assets/images/threats/kryntos-the-minotaur.jpg") no-repeat
    top/cover;
  transition: var(--bg-transition);
  grid-area: threat-02;
}
.threat-02:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../assets/images/threats/kryntos-the-minotaur.jpg") no-repeat top/cover;
}

.threat-03 {
  background: url("../assets/images/threats/green-ear-guild.jpg") no-repeat
    top/cover;
  transition: var(--bg-transition);
  grid-area: threat-03;
}
.threat-03:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../assets/images/threats/green-ear-guild.jpg") no-repeat top/cover;
}

.threat-04 {
  background: url("../assets/images/threats/sundara-the-necromancer.jpg")
    no-repeat top/cover;
  transition: var(--bg-transition);
  grid-area: threat-04;
}
.threat-04:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../assets/images/threats/sundara-the-necromancer.jpg") no-repeat
      top/cover;
}

.threat-05 {
  background: url("../assets/images/threats/soulless-horde.jpg") no-repeat
    top/cover;
  transition: var(--bg-transition);
  grid-area: threat-05;
}
.threat-05:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../assets/images/threats/soulless-horde.jpg") no-repeat top/cover;
}

.threat-06 {
  background: url("../assets/images/threats/pyraxia-queen-of-flames.jpg")
    no-repeat top/cover;
  transition: var(--bg-transition);
  grid-area: threat-06;
}
.threat-06:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../assets/images/threats/pyraxia-queen-of-flames.jpg") no-repeat
      top/cover;
}

.threat-07 {
  background: url("../assets/images/threats/astraleon-shadowlord.jpg") no-repeat
    top/cover;
  transition: var(--bg-transition);
  grid-area: threat-07;
}
.threat-07:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../assets/images/threats/astraleon-shadowlord.jpg") no-repeat top/cover;
}

.threat-08 {
  background: url("../assets/images/threats/scourge-of-veilshore.jpg") no-repeat
    top/cover;
  transition: var(--bg-transition);
  grid-area: threat-08;
}
.threat-08:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../assets/images/threats/scourge-of-veilshore.jpg") no-repeat top/cover;
}

.threat-09 {
  background: url("../assets/images/threats/portal-of-oblivion.jpg") no-repeat
    top/cover;
  transition: var(--bg-transition);
  grid-area: threat-09;
}
.threat-09:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../assets/images/threats/portal-of-oblivion.jpg") no-repeat top/cover;
}

/*
=============== 
Heroes
===============
*/

#heroes {
  background: var(--clr-white);
}

.heroes-text {
  max-width: 80ch;
}

.heroes-box {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heroes-featured {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.single-heroes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  height: 50dvh;
  overflow-y: scroll;
  justify-content: center;
}

.card-hero .overlay-img-container {
  height: 35dvh;
}
.card-hero .overlay-img {
  height: 35dvh;
}

.card-hero h4 {
  color: var(--clr-white);
  text-shadow: var(--text-shadow);
  font-size: 2.5rem;
}

.location {
  font-size: 2rem;
  line-height: 1;
}

.location i {
  margin-right: 0.5rem;
}

.hero-btn {
  padding: 0.75rem 1rem 0.5rem 1rem;
  font-size: 1.3rem;
}

.hero-btn:hover {
  color: var(--second-clr-dark);
  border-color: var(--second-clr-dark);
  background: var(--clr-white);
}

@media screen and (min-width: 700px) {
  .heroes-featured .overlay-box {
    height: 30dvh;
  }
  .heroes-featured .overlay-img-container {
    height: 30dvh;
  }
}

@media screen and (min-width: 900px) {
  .heroes-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
    justify-content: space-between;
  }

  .heroes-featured {
    width: 48%;
  }

  .single-heroes {
    width: 50%;
  }

  .heroes-featured .overlay-box {
    height: initial;
  }

  .heroes-featured .overlay-img-container {
    height: initial;
  }
}

@media screen and (min-width: 1200px) {
  .single-heroes {
    height: 80dvh;
  }

  .card-hero {
    width: 45%;
  }
  .card-hero .overlay-img-container {
    height: 35dvh;
  }
  .card-hero .overlay-img {
    height: 35dvh;
  }
}

/*
=============== 
Artifacts
===============
*/

#artifacts {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.8) 10%,
      rgba(255, 255, 255, 0.8) 90%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../assets/images/artifacts-bg.jpg") no-repeat center/cover;
}

#artifacts .archetype img {
  width: 80%;
}

.artifacts-box {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(350px, 1fr));
  gap: 3rem;
  overflow-x: scroll;
  padding: 2.5rem 1rem;
}

.artifacts-box .archetype {
  background: var(--clr-white);
}

/*
=============== 
News
===============
*/

#news {
  background: var(--clr-white);
}

#news img {
  border-radius: 0.5rem;
}

.news-box {
  margin-top: 3rem;
}

.featured {
  margin-bottom: 5rem;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.featured-img {
  opacity: 0.9;
  transition: var(--transition);
}

.featured:hover {
  box-shadow: var(--light-shadow);
}

.featured:hover .featured-img {
  opacity: 1;
}

.featured-info {
  margin-top: 1.5rem;
  padding: 1rem;
}

.news-category {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--first-clr-dark);
  color: var(--second-clr-dark);
  font-weight: 600;
  font-size: 1.4rem;
  transition: var(--transition);
  cursor: pointer;
}

.news-category:hover {
  background: var(--second-clr-dark);
  color: var(--clr-white);
}

.single-news-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.single-news {
  display: flex;
  gap: 1.5rem;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.single-news:hover {
  box-shadow: var(--light-shadow);
}

.single-news:hover .single-news-img {
  transform: scale(1.02);
  opacity: 1;
}

.single-news-img {
  width: 30%;
  object-fit: cover;
  height: auto;
  transition: var(--transition);
  opacity: 0.9;
}

.single-news-info {
  padding: 0.5rem;
}

.single-news .news-title {
  font-size: 2rem;
  line-height: 1.3;
}

.all-news {
  margin-top: 3.5rem;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .news-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;
    justify-content: space-between;
  }

  .featured {
    width: 50%;
  }

  .single-news-box {
    width: 50%;
  }
}

/*
=============== 
Gallery
===============
*/
#gallery {
  background: var(--clr-white);
}

/*
=============== 
Boneco
===============
*/

/*
=============== 
Footer
===============
*/

#footer {
  background: var(--second-clr-dark);
}

.footer {
  text-align: center;
  padding: 4rem 2rem;
}

.footer-link {
  color: var(--clr-white);
  font: 500 1.8rem/1.5 var(--first-ff);
  text-transform: capitalize;
  padding: 1rem 2rem;
  display: inline-block;
  transition: var(--transition);
}

.footer-link:hover {
  color: var(--first-clr-light);
}

.footer-icons {
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
}

.footer-icon {
  color: var(--clr-white);
  margin: 0 1rem;
  font-size: 2.5rem;
  transition: var(--transition);
}

.footer-icon:hover {
  color: var(--first-clr-light);
  transform: scale(1.2);
}

.copyright {
  color: var(--clr-white);
}

@media screen and (min-width: 768px) {
  .footer-links {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
