/*
=============== 
Variables
===============
*/

:root {
  /* =========> Typography */
  --first-ff: "Vollkorn", serif;
  --second-ff: "Lato", sans-serif;

  /* =========> Colors */
  --first-clr-light: #fbd968;
  --first-clr-dark: #d69919;
  /* first color dark: 214, 153 ,25 */
  --second-clr-light: #1c6611;
  --second-clr-dark: #0e440a;
  /* second color dark: 14, 68,10 */
  --third-clr-light: #1a218a;
  --third-clr-dark: #090840;
  --clr-white: #fff;
  --off-white-clr: #faf9f6;
  --black-clr: #000;
  --off-black-clr: #0e1514;
  --text-clr: #292828;
  --gold-gradient: linear-gradient(
    180deg,
    rgba(214, 153, 25, 0.8) 10%,
    rgba(214, 153, 25, 1) 50%
  );
  --dark-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 1)
  );

  /* =========> Others */

  --transition: all 0.3s linear;
  --bg-transition: linear-gradient 0.5s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --text-shadow: 2px 2px rgba(0, 0, 0, 0.9);
  --text-shadow-mini: 1px 1px rgba(0, 0, 0, 0.9);

  /* =========> Symbols */
}

/*
=============== 
Global Styles
===============
*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--clr-white);
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--first-ff);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  color: var(--second-clr-dark);
  text-wrap: balance;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}

p {
  font: 400 1.5rem/1.5 var(--second-ff);
  margin-bottom: 1.25rem;
  text-wrap: pretty;
}

button {
  font-family: inherit;
  outline: none;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  p {
    font-size: 1.7rem;
  }
}

/* ============== > Scrollbsr Style */

.artifacts-box::-webkit-scrollbar,
.gallery-box::-webkit-scrollbar {
  height: 1rem;
  background-color: transparent;
}

.single-heroes-container::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}

.artifacts-box::-webkit-scrollbar-track,
.single-heroes-container::-webkit-scrollbar-track,
.gallery-box::-webkit-scrollbar-track {
  background-color: var(--first-clr-light);
  border-radius: 1rem;
}

.artifacts-box::-webkit-scrollbar-thumb,
.single-heroes-container::-webkit-scrollbar-thumb,
.gallery-box::-webkit-scrollbar-thumb {
  background: var(--second-clr-dark);
  border-radius: 1rem;
}

/*  global classes */

.btn {
  background: var(--second-clr-dark);
  color: var(--clr-white);
  border: 2px solid var(--second-clr-dark);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  letter-spacing: 0.15rem;
  display: inline-block;
  font: 600 1.8rem/1.5 var(--first-ff);
  transition: var(--transition);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--second-clr-dark);
  background: var(--clr-white);
  border: 2px solid var(--second-clr-dark);
}

.container {
  width: min(90dvw, 1180px);
  margin: 0 auto;
  padding: 15rem 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 8rem 0;
  }
}

.container-mini {
  padding: 0;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.section-title span {
  color: var(--first-clr-dark);
}

.intro {
  font-size: 1.6rem;
  line-height: 1.3;
}

.intro::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1.6rem;
  background: var(--first-clr-dark);
  margin-right: 0.5rem;
}

.intro span {
  color: var(--first-clr-dark);
  font-weight: 600;
}

.title {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.title::before {
  content: "";
  width: 3.5rem;
  height: 3.5rem;
  background: url("../assets/images/sword-title-first-color-dark-01.svg")
    no-repeat center/cover;
  display: inline-block;
  margin-right: 1rem;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 4rem;
  }

  .title::before {
    width: 5rem;
    height: 5rem;
  }
}

.section-divider {
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(
    90deg,
    var(--first-clr-dark),
    var(--second-clr-dark),
    var(--first-clr-light),
    var(--second-clr-light)
  );
}

/* ============== > Overlay Images */

.overlay-box {
  background: var(--gold-gradient);
  border-radius: 0.5rem;
  overflow: hidden;
}

.overlay-box-dark {
  background: var(--dark-gradient);
}
.overlay-box-black {
  background: var(--black-clr);
}

.overlay-img-container {
  position: relative;
}

.overlay-info {
  padding: 1.5rem;
  display: none;
  transition: var(--transition);
}

.overlay-info h3,
.overlay-info h4 {
  color: var(--clr-white);
  text-shadow: var(--text-shadow);
}

.overlay-info p {
  color: var(--clr-white);
  text-shadow: var(--text-shadow-mini);
}

.overlay-img {
  opacity: 1;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.overlay-box:hover .overlay-img {
  opacity: 0.4;
}

.overlay-box:hover .overlay-info {
  display: block;
  position: absolute;
  bottom: 0;
}

.overlay-box h3 {
  line-height: 1.2;
  color: var(--clr-white);
  text-shadow: var(--text-shadow-mini);
}

.overlay-box p {
  color: var(--clr-white);
  text-shadow: var(--text-shadow-mini);
}

.overlay-btn {
  padding: 1rem;
  line-height: 1;
  font-size: 1.5rem;
}

.overlay-btn:hover {
  background-color: var(--clr-white);
}
